<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("AkTunaiCV")" href="#submenuTunaiRuncit" data-toggle="collapse" data-target="#submenuTunaiRuncit"><img src="~/img/svg/tunai-runcit.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Tunai Runcit</span></a>
    <div class="collapse" id="submenuTunaiRuncit" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("AkTunaiCV")" asp-area="" asp-controller="AkTunaiCV" asp-action="Index"><span>Tunai Keluar</span></a></li>
        </ul>
    </div>
</li>