<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("JProfilKategori")" href="#submenuPengurusanJadual" data-toggle="collapse" data-target="#submenuPengurusanJadual">
        <object data="~/img/svg/jadual.svg" class="fa fa-pull-left fa-0"></object><span>&nbsp; Jadual</span>
    </a>
    <div class="collapse" id="submenuPengurusanJadual" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("JProfilKategori")" asp-controller="JProfilKategori" asp-action="Index"><span>Profil Kategori</span></a></li>
        </ul>
    </div>
</li>
