
<div class="card box-shadow">
    <div class="card-body">
        <h5 class=" text-uppercase text-center">Jumlah Kutipan / Bayaran Pada Tahun @DateTime.Now.ToString("yyyy")</h5>
        <div class="chart">
            <canvas id="barchart"></canvas>
        </div>
    </div>
</div>