@model SPMBNET7.CoreBusiness.Models.Modules._03_Sumber.JSukan
@{
    ViewData["Title"] = "Sukan - Papar";
}
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-dark mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Papar</span>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Perihal)
            </dt>
            <dd class="col-sm-10 text-uppercase">
                @Model.Perihal
            </dd>
            <dt class="col-sm-2">
                Jenis Sukan
            </dt>
            @if (Model.IsElit == true && Model.IsPembangunan == false)
            {
                <dd class="col-sm-10 text-uppercase">
                    Elit
                </dd>

            }
            @if (Model.IsElit == false  && Model.IsPembangunan == true)
            {
                <dd class="col-sm-10 text-uppercase">
                    Pembangunan
                </dd>

            }
            @if (Model.IsElit == true  && Model.IsPembangunan == true)
            {
                <dd class="col-sm-10 text-uppercase">
                    Elit Dan Pembangunan
                </dd>

            }
        </dl>
        <hr />
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn ac-primary btn-sm">Ubah</a>
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </div>
    </div>
</div>