@model SPMBNET7.App.Pages.PrintModels._02_Akaun.TerimaanPrintModel

@{
    ViewData["Title"] = "Cetakan Resit";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

}
<style>

    .topic tr {
        line-height: 0.5rem;
    }

    .center {
        padding: 70px 0;
        border: 3px solid green;
        text-align: center;
    }

    .notbold {
        font-weight: normal
    }

    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.8em;
    }

    hr.cut-line {
        border-top: 2px dashed;
    }
</style>
@*Asal*@
<partial name="TerimaanAsalPrintPDF" />
@*Asal End*@
<hr class="cut-line mb-0" />
<p class="mb-4 text-center">Sila potong di sini</p>

@*Salinan*@
<partial name="TerimaanSalinanPrintPDF" />
